<!DOCTYPE html>
<html ng-app="A">
	<head>
		<script src="lib/jquery.js"></script>
		<title>Problemas</title>
		<link rel="stylesheet" href="css/style.css">

	</head>
	<body ng-controller="Principal">
		<div class="container-fluid" id="F1">
			<div class="row" id="F2">
				<img src="img/diamante.png" class="im">
				<br>
				<span class="tx1">VALES MAS QUE UN DIAMANTE!!!</span>
				<br>
				<br>

				<span class="text">INGRESE NOMBRE DE USUARIO</span>
				<input type="text" ng-model="uvas.A">
				<br>
				<span class="text">INGRESE CORREO ELECTRONICO</span>
				<input type="email" ng-model="uvas.C">
				<br>
				<span class="text">INGRESE CONTRASEÑA</span>
				<input type="password" ng-model="uvas.D">
				<br>
				<br>
				<div class="boton" ng-click="diametro(uvas)" href="">Registrarse</div>
			</div>
		</div>
		<script src="lib/angular.js"></script>
		<script src="lib/sweet.js"></script>
		<script src="js/script.js"></script>

	</body>
</html>